.navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 15px;
    font-weight: bold;
  }
  
  .navbar ul li a {
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #ffd700;
  }
  